.li {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #000000;
  }
  .imgpart {
    width:227px ;
    height:56px;
    position:absolute;
	    left:22%;
      top: 25%;
  }
  .imgs{
    height: 56px; /* for Demo only */
    position: relative;
  }
