* { margin: 0 }

html, body {
  /* Убирает прокрутку по горизонтали, для мобильной версии */
  overflow-x: hidden;
}

.iphone-1313-pro-11 .petuh-141 {
  --n: 0;
	display:flex;
  flex-direction:row;
	align-items: center;
  position:absolute;
  top: -13px;
  left: 0px;
  /*width: 600px;*/
  height: 226px;
  width: calc(var(--n)*100%);
  margin: 60px auto;
  transform: translate(calc(var(--tx, 0px) + var(--i, 0)/var(--n)*-100%));
  img{

    width: calc(100%/var(--n));
    width: 500px;
    height: 300px;
    object-fit: cover;
  }
  
}
.smooth { transition: transform .5s ease-out; }
.iphone-1313-pro-11 .slide {
  position: relative;
  
}
.iphone-1313-pro-11 .container-4 {
  overflow-wrap: break-word;
  font-family: 'SFT Schrifted Sans TRIAL', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.iphone-1313-pro-11 .frame-22 {
  backdrop-filter: blur(2px);
  border-radius: 90px;
  background: rgba(255, 255, 255, 0.22);
  position: relative;
  display: flex;
  padding: 7px 2.3px 8px 0;
  width: 72px;
  height: fit-content;
  box-sizing: border-box;
}
.iphone-1313-pro-11 .frame-20 {
  /*background: #9D8D8D;*/
  position: relative;
  margin-bottom: 32px;
  display: flex;
  padding: 244px 21px 33px 21px;

  
}
.iphone-1313-pro-11 .container {
  margin: 0 12.2px 5px 12.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'SFT Schrifted Sans TRIAL', 'Roboto Condensed';
  font-weight: 500;
  font-size: 32px;
  color: #000000;
}
.iphone-1313-pro-11 .momfit {
  overflow-wrap: break-word;
  font-family: 'SFT Schrifted Sans TRIAL', 'Roboto Condensed';
  font-weight: 400;
  font-size: 22px;
  color: #B8B8B8;
}
.iphone-1313-pro-11 .frame-16 {
  margin: 0 21px 33px 21px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.iphone-1313-pro-11 .line-2 {
  background: #F0F0F0;
  margin: 0 44px 31.5px 0;
  align-self: center;
  width: 178px;
  height: 0px;
}
.iphone-1313-pro-11 .container-3 {
  margin: 0 24px 56px 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'SFT Schrifted Sans TRIAL', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.iphone-1313-pro-11 .line-3 {
  background: #F0F0F0;
  margin-bottom: 41.5px;
  align-self: center;
  width: 178px;
  height: 0px;
}
.iphone-1313-pro-11 .container-1 {
  margin: 7px 19px 7px 0;
  display: inline-block;
  width: 80px;
  overflow-wrap: break-word;
  font-family: 'SFT Schrifted Sans TRIAL', 'Roboto Condensed';
  font-weight: 500;
  font-size: 32px;
  color: #000000;
}
.iphone-1313-pro-11 .container-2 {
  overflow-wrap: break-word;
  font-family: 'SFT Schrifted Sans TRIAL', 'Roboto Condensed';
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}
.iphone-1313-pro-11 .frame-21 {
  border-radius: 20px;
  background: #3D3838;
  display: flex;
  padding: 15px 0 16px 1px;
  width: 143px;
  box-sizing: border-box;
}
.iphone-1313-pro-11 .container {
  margin: 0 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 318.5px;
  box-sizing: border-box;
}
.iphone-1313-pro-11 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  box-sizing: border-box;
}
